//variables color

$main__color: rgba(113, 75, 166, 1);
$main__color--light: rgba(158, 130, 217, 1);
$main__color--dark: rgba(81, 57, 115, 1);

$gray__color: rgba(134, 134, 134, 1);
$white__color: rgba(255, 255, 255, 1);

$background__color--gray: rgba(242, 242, 242, 1);
$background__color--boton: rgba(107, 59, 167, 1);


//textos


//imagenes
$img__header: cover;


//width
$w__100: 100%;
$w__auto: auto;
$w__icon: 22%;
$w__logo: 224px;
$w__menu--ham: 26px;
$w__25: 25%;
$w__90: 90%;
$w__80: 80%;
$w__88: 88%;
$w__70: 70%;
$w__45: 45%;


//margin
$margin__24: 24px;
$margin__0: 0px;
$margin__8: 8px;


//margin top
$margin__T--16: 16px;
$margin__T--24: 24px;
$margin__T--28: 28px;
$margin__T--32: 32px;
$margin__T--40: 40px;
$margin__T--56: 56px;
$margin__T--60: 60px;

//margin bottom
$margin__B--0: 0px;
$margin__B--8: 8px;
$margin__B--16: 16px;
$margin__B--12: 12px;
$margin__B--24: 24px;
$margin__B--32: 32px;

//margin right
$margin__R--8: 8px;
$margin__R--20: 20px;
$margin__R--24: 24px;
$margin__R--16: 16px;

//margin left
$margin__L--8: 8px;
$margin__L--16: 16px;
$margin__L--24: 24px;
$margin__L--28: 28px;


//border
$border__radius: 12px;
